body {
  margin: 0;
  padding: 0;
  background: #A8B7C6 url(/images/bg.png) top center no-repeat;
  color: #535b62;
  font-weight: 100;
  font-family: "museo-sans-1","museo-sans-2","Helvetica","Arial",sans-serif;
  font-size: 1em;
}
strong {
  font-weight: 500;
  font-family: "museo-sans-1","museo-sans-2","Helvetica","Arial",sans-serif;
}
#header, #footer, #search {
  text-align: center;
}

h1 {
  font-size: 2em;
  background: url(/images/logo.png) center top no-repeat;
  text-indent: -900em;
  overflow: hidden;
  height: 44px;
}
#header span {
  text-shadow: #c9d2cb 0 1px 1px;
  font-size: 0.7em;
  font-weight: 100;
}
h3,h4,h5 {
  font-weight: 500;
}
h3 strong {
  font-weight: 900;
  color: #fff;
}

#header {
  margin-top: 2em;
}
.band {
  width: 100%;
  background: #43494f url(/images/bg_search.png) top left repeat-x;
  padding: 2em 0 2em 0;
  color: #A8B7C6;
}
.band p {
  color: #ddd;
}
.band img {
  margin: 0;
  padding: 0;
  float: right;
}
#datos {
  background-color: #A8B7C6;
  padding-top: 2em;
  margin-top: -6em;
}
#search label {
  display: block;
}
#search input {
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 1.3em;
  color: #454B52;
  font-weight: 500;
  font-family: "museo-sans-1","museo-sans-2","Helvetica","Arial",sans-serif;
}
#search input {
  padding: 4px;
  hxeight: 36px;
}
#search input#s {
  background: url(/images/btn_bg.png) left center no-repeat;
  padding-left: 2.3em;
  padding-right: 1em;
  font-weight: 900;
  color: #7D5010;
  text-shadow: #fec24d 0px 1px 1px;
}
#search input#s:hover {
  background: url(/images/btn_bg.png) -193px center no-repeat;
}
#footer {
  margin-top: 3em;
  font-weight: 100;
  font-family: "museo-sans-1","museo-sans-2","Helvetica","Arial",sans-serif;
  font-size: 0.9em;
  text-align: center;
}

a { color: #fff;}
#footer a { color: #535b62;}
a:visited { color: #333;}
a:hover {
  color: #333;
  background-color: #fc0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none;
  padding: 0 3px;
  margin: 0 -3px;
}
#footer a:hover {
  color: #fff;
  background-color: #535b62;
}

#search label {
  color: #fff;
}

.container {
  text-align: left;
}

div.item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: url(/images/bg_item.png) left top repeat-x;
  margin-bottom: 10px;
  text-shadow: #fff 0 1px 1px;
  -webkit-box-shadow: #454b52 0 0 3px;
  -moz-box-shadow: #454b52 0 0 3px;
}
div.item img {
  display: block;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
}
div.item h5 {
  margin: 0;
  padding: 10px 0;
}
div.item.city {
  background: url(/images/bg_item_city.png) top right no-repeat;
}

#barrio {
  margin: 0;
  margin-bottom: 2em;
  padding: 2em 0 0.1em 0;
}
#barrio p {
  width: 500px;
}
#barrio img {
  float: right;
  margin: -3em 0 -5em 0;
  padding: 0;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -webkit-box-shadow: #454b52 0 3px 6px;
  -moz-box-shadow: #454b52 0 3px 6px;
  border: 10px solid #fff;
}

#barrio .datos {
  zbackground-color: #A8B7C6;
}
