<div class="band">
  <div class="container">
    <h2>Qué es Monquartier</h2>
    <div class="span-12">
      <p>Monquartier es un servicio web de información sobre los barrios. Mejor dicho, sobre los distritos.</p>
      <p>Es un proyecto para el <a href="http://www.abredatos.es/">Desafío AbreDatos</a>.</p>
      <p>Abredatos es es un concurso de 48 horas que hemos celebrado este fin de semana para desarrollar "exprés" un servicio en internet basado en el uso de datos públicos.</p>
      <p>Con esto también nosotros queremos generar debate sobre la necesidad y la utilidad de que los organismos hagan accesibles, y entendibles sus datos sobre nosotros, o sobre ellos, para crear servicios que sean útiles para las personas.</p>
      <p>Nosotros somos <a href="http://twitter.com/porras">Sergio</a>, <a href="http://twitter.com/valakirka">Mari</a>, <a href="http://twitter.com/bomberstudios">Ale</a> y <a href="http://twitter.com/anika">Ana</a>, y Abredatos nos pareció una buena idea y una buena excusa para juntarnos a trabajar, aprender un poco y poner nuestro granito de arena : )</p>
      <p>Más cositas en <a href="http://monquartier.tumblr.com/">http://monquartier.tumblr.com</a></p>
    </div>
    <div class="span-11 last" style="text-align: right">
      <object width="250" height="202"><param name="movie" value="http://www.youtube.com/v/On2_OB4ged0&hl=es_ES&fs=1&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/On2_OB4ged0&hl=es_ES&fs=1&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="325" height="250"></embed></object>
    </div>
  </div>
</div>
