<div class="band">
  <div class="container">
    <h2>De dónde salen estos datos</h2>
    <div class="span-16">
      <p>Hemos utilizado datos públicos del <a href="http://www.ine.es/">INE</a>:</p>

      <dl>
        <dt>Edad</dt>
        <dd>Media de edad de los vecinos del distrito con respecto a la edad de todas las personas de esa ciudad.</dd>
        
        <dt>Cultura y deportes</dt>
        <dd>Número de locales destinados a cultura y deporte en esa ciudad.</dd>
        
        <dt>Dinero</dt>
        <dd>Dato representativo de la renta/riqueza de un distrito, calculado a partir de la posesión de una segunda vivienda.</dd>
      </dl>
      <p>Todos los datos están normalizados en una escala de 0 a 5, para que se entiendan mejor : )</p>      
    </div>
  </div>
</div>
