<div id="content">
  <div id="search" class="band">
    <form>
      <label for="q">Busca un barrio de Wadus para ver si mola:</label>
      <%= text_field_tag :q, nil, :id => "search_field" %>
      <input type="submit" id="s" value="Buscar" />
    </form>
  </div>
</div>
<!-- /home -->
