<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Monquartier</title>
	<%= javascript_include_tag :defaults, "jquery.autocomplete.min" %>
	<%= stylesheet_link_tag "jquery.autocomplete", "application" %>
</head>
<body>
  <div id="header">HEADER</div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">FOOTER</div>
</body>
</html>
